.shopList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #adb5bd;
    padding: 10px;
    /* max-height: 600px;
    overflow-y: auto; */

}